.wrapper {
  height: screen;
}

.header {
  background-color: #232323;
  color: #fefefe;
  padding: 1rem 2rem;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-weight: bold;
  text-align: center;
}

.main {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
